<link rel="import" href="../polymer/polymer.html">

<!--
`command-config`
Elemento para configuracao de commandos para o MESSOR

@demo demo/index.html 
-->

<dom-module id="command-config">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'command-config',

      properties: {
        prop1: {
          type: String,
          value: 'command-config',
        },
      },

    });
  </script>
</dom-module>
