<link rel="import" href="../polymer/polymer.html">

<!--
`command-config`
Elemento para configuracao de commandos para o MESSOR

@demo demo/index.html 
-->

<dom-module id="restart-command">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>RestartCommand</h2>
    <label>
      MESSOR ID
      <input id="idInput" type="text" name="messorID"></label>
    </label>
    <button on-tap="_sendCommand">Enviar</button>
    <br>
    <pre>
    [[result]]
    </pre>


  </template>

  <script>
    Polymer({

      is: 'restart-command',

      properties: {
        resultStr: {
          type: String,
          value: '',
        },
        msg: {
          type: Object
        }
      },

      _sendCommand: function() {
        this.msg = {
          type: "command",  
          commandName: "restartMessor",
          params : [ 
            {
              name: "messorID",
              value: this.$.idInput.value
            }
          ],
        };
        
        this.result = JSON.stringify(this.msg, null, 2);
      }

    });
  </script>
</dom-module>